<h3>Detalles del Producto</h3>
<br>

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput"><b>ID : </b>{{ producto.idproducto }}</label>
</div>

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput"><b>NOMBRE : </b>{{ producto.nombre }}</label>
</div>

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput"><b>CATEGORIA : </b>{{ producto.categoria }}</label>
</div>

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput"><b>PRECIO : </b>{{ producto.precio }}</label>
</div>

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput"><b>CANTIDAD : </b>{{ producto.cantidad }}</label>
</div>

<button class="btn btn-primary me-md-2" type="button" [routerLink]="['/productos']">Atras</button>